body {
  font-family: 'Gamja Flower', cursive;
  margin: 0;
  background-color: #f7edf0;
}
h1 {
  margin: 0;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: #153243;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  padding: 1em;
  font-size: 30px;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#navbar {
  /* padding-top: 25px;
  background-color: #d1d2f9;
  padding-left: 2em;
  border-bottom: 1px dotted #576490; */

  background-image: linear-gradient(#a6a8e0, #d1d2f9);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  z-index: 2;
  box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.24);
}

form div {
  margin: 1em;
  display: inline-block;
}

#palette {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f1e5eb;
  border-radius: 12px;
  width: 350px;
}

button {
  border: none;
  padding: 10px 10px;
  margin: 5px;
  display: inline-block;
  font-size: 25px;
  border-radius: 25px;
  cursor: pointer;
  font-family: 'Gamja Flower', cursive;
  background-color: #dcdcdc;
  transition: all 50ms;
}

#palette button {
  border: none;
  padding: 15px;
  margin: 5px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  transition: all 50ms;
}

button:hover {
  background-color: #a9a9a9;
  transform: scale(1.1);
  border-radius: 25px;
}

button:focus {
  outline: none;
}

.tool {
  background-color: #dcdcdc;
  background-repeat: no-repeat;
  background-position: center;
}

.iconCanvas {
  display: flex;
  align-items: center;
}

.arrowButton {
  max-height: 30px;
  max-width: 30px;
  padding: 17px 17px;
  border-radius: 12px;
  transition: all 50ms;
}

.arrowButton:active {
  background-color: #a9a9a9;
  transform: scale(0.8) !important;
}

.arrowButton:hover {
  background-color: #a9a9a9;
  border-radius: 12px;
  transform: scale(1);
}

#party-room {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  justify-content: center;
  margin-top: 5em;
}

#users-bar {
  border-radius: 9px;
  padding: 8px;
  margin-right: 12px;
  margin-left: 12px;
  background-color: #fbf9f9;
  border: solid #c7d66d;
  border-width: 2px;
  align-content: center;
  min-width: 185px;
}

.indiv-user-sidebar {
  display: flex;
  font-size: x-large;
  align-items: center;
}

#image-sidebar {
  width: 25%;
  margin: 8px;
}

.drawing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.konvajs-content {
  background-color: white;
  border-radius: 12px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-top: 75px;
  padding-bottom: 75px;
  font-size: 25px;
}

#buttons-container {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  padding: 15px;
}

span input {
  border-radius: 15px;
  font-family: 'Gamja Flower', cursive;
  width: 200px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

input:focus {
  outline: none;
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-top: 10px;
}
