body {
  font-family: 'Gamja Flower', cursive;
  margin: 0;
  background-color: #f7edf0;
}
h1 {
  margin: 0;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: #153243;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#navbar {
  background-image: linear-gradient(#c0d44e, #def1be);
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.24);
}

#navbarGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  z-index: 2;
}

#navbar h1 {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  color: #000000;
  font-weight: 400;
  text-shadow: -1px 0 0 #def1be, 1px 1px 0 #9b89b1, 2px -1px 0 #def1be,
    3px 0 0 #9b89b1;
  font-size: 75px;
}

nav a {
  display: inline-block;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  padding: 1em;
  font-size: 20px;
}

/* Swal styling! */
.swal-overlay {
  background-color: rgba(47, 32, 50, 0.45);
}

.swal-modal {
  background-color: #def1be;
  border: 3px solid #9b89b1;
  border-radius: 15px;
}

.swal-text {
  padding: 17px;
  border-radius: 15px;
  display: block;
  margin: 22px;
  text-align: center;
  color: black;
  font-size: 30px;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 15px;
  background-color: #f9f6f6;
  font-size: 30px;
  color: black;
  border: 1px solid #9b89b1;
}

.swal-content {
  border-radius: 15px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#palette {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f1e5eb;
  border-radius: 12px;
  width: 350px;
  margin: 12px;
}

button {
  border: none;
  padding: 10px 10px;
  margin: 5px;
  display: inline-block;
  font-size: 25px;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Gamja Flower', cursive;
  background-color: #dcdcdc;
  transition: all 50ms;
}

.roomButtons button {
  width: 170px;
  border: solid #9b89b1;
  border-width: 1px;
  background-color: #f9f6f6;
}

#palette button {
  /* border: none; */
  padding: 15px;
  margin: 5px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  transition: all 50ms;
}

.palette-button-selected {
  box-shadow: 0 0 0 1.5pt #353535;
  padding: 15px;
  margin: 5px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  transition: all 50ms;
}

button:hover {
  background-color: #a9a9a9;
  transform: scale(1.1);
  border-radius: 15px;
}

button:focus {
  outline: none;
}

.tool {
  background-color: #dcdcdc;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowButton {
  max-height: 30px;
  max-width: 30px;
  padding: 17px 17px;
  border-radius: 12px;
  transition: all 50ms;
}

.arrowButton:active {
  background-color: #a9a9a9;
  transform: scale(0.8) !important;
}

.arrowButton:hover {
  background-color: #a9a9a9;
  border-radius: 12px;
  transform: scale(1);
}

#party-room {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3em;
}

#room-name {
  padding: 15px;
  margin-bottom: 40px;
  font-size: x-large;
  background-color: #fbf9f9;
  border: #c7d66d 2px solid;
  border-radius: 8px;
}

#main-party-room-area {
  display: flex;
}

#party-room-canvas {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  min-width: 300px;
}

#users-section {
  padding: 12px;
}

#users-bar {
  border-radius: 9px;
  padding: 8px;
  background-color: #fbf9f9;
  border: solid #c7d66d;
  border-width: 2px;
  align-content: center;
  min-width: 185px;
}

.indiv-user-sidebar {
  display: flex;
  font-size: x-large;
  align-items: center;
}

#indiv-user-sidebar-selected {
  display: flex;
  font-size: x-large;
  align-items: center;
  background-color: #dde99d;
  border-radius: 8px;
}

#image-sidebar {
  width: 25%;
  margin: 8px;
}

#party-room-center {
  min-width: 600px;
}

.drawing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.konvajs-content {
  background-color: white;
  border-radius: 12px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 25px;
  background-color: white;
  background-image:
  /* linear-gradient(to bottom, rgba(222, 241, 190, 0.73),  rgba(192, 212, 78, 0.52)), */ url('/images/backgroundTEST2opacitychange.png');
}

.home-div {
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: center;
  flex: 1 2 auto;
  background-image: linear-gradient(#def1be, #c0d44e);
  border: solid #9b89b1;
  width: 45%;
  height: 45%;
  border-radius: 15px;
}

.iconCanvas {
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

span {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  align-items: center;
  width: 90%;
  font-size: 25px;
  margin-top: 10px;
}

.roomButtons {
  width: 65%;
}

.roomButtons label {
  width: 200px;
}

#nicknameInput input {
  margin: 5px;
  border-radius: 15px;
  border: solid #9b89b1;
  border-width: 1px;
  font-family: 'Gamja Flower', cursive;
  width: 75%;
  height: 35px;
  font-size: 25px;
  text-align: center;
}

.roomButtons input {
  height: 20px;
  width: 20px;
}

input:focus {
  outline: none;
}

#chat-window {
  background-color: #c7d66d;
  border-radius: 12px;
  margin: 12px;
}

#chat-messages {
  height: 500px;
  width: 260px;
  border-radius: 9px;
  padding: 8px;
  background-color: #fbf9f9;
  border: solid #c7d66d;
  border-width: 2px;
  overflow-y: scroll;
  margin: 8px;
}

#chat-message-entry {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

#chat-message-entry input {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 2px gray solid;
}

#instructions {
  border-radius: 9px;
  padding: 8px;
  background-color: #fbf9f9;
  border: solid #c7d66d;
  border-width: 2px;
  align-content: center;
}

.instructions-button {
  bottom: 200px;
  font-size: medium;
}

#gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#monsters-container {
  display: grid;
  grid-gap: 60px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(5, 450px);
  margin: 50px;
  /* padding: 0px 150px; */
  flex: 0 0 60%;
}

#monsters-container .monster {
  text-align: center;
  font-size: 30px;
}

.monster img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  border: solid #c7d66d;
  border-width: 2px;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 1000px;
  flex: 0 0 40%;
  margin: 50px;
}

.slides img {
  border-radius: 20px;
  border: solid #c7d66d;
  border-width: 2px;
}
