body {
  font-family: 'Gamja Flower', cursive;
  margin: 0;
  background-color: #f7edf0;
}
h1 {
  margin: 0;
  font-size: 50px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  padding: 1em;
  font-size: 35px;
}

#navbar {
  padding-top: 25px;
  background-color: #d1d2f9;
  padding-left: 2em;
  border-bottom: 1px dotted #576490;
}

form div {
  margin: 1em;
  display: inline-block;
}

#palette {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f1e5eb;
  border-radius: 12px;
  width: 350px;
}

button {
  border: none;
  padding: 15px 15px;
  margin: 5px;
  display: inline-block;
  font-size: 25px;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Gamja Flower', cursive;
}

.tool {
  background-color: #dcdcdc;
  background-repeat: no-repeat;
  background-position: center;
}

.iconCanvas {
  display: flex;
  align-items: center;
}

.arrowButton {
  max-height: 30px;
  max-width: 30px;
}

#party-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.drawing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.konvajs-content {
  background-color: white;
  border-radius: 12px;
}
